@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #5b5963;
}

.title {
  width: 300px;
  text-align: center;
}

.title::after {
  content: "";
  display: block;
  width: 20%;
  margin: 50px auto 10px;
  border-bottom: 1px solid rgb(168, 168, 168);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px ;
}

.header {
  position: absolute;
  color: white;
  width: 100%;
  height: 70px;
}

.header_overlay {
  background-color: rgba(0, 0, 0, 0.184);
  height: 100%;

}

.header_content {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
  height: 45px;
  fill: white;
  margin-left : 50px;
}

.header_nav {
  margin-right: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header_nav a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.856);
  margin-right: 50px;
  transition: 0.3s;
}
.header_nav a:hover {
  color: white;
  transform: scale(1.05);
}

/*Bannière*/
.ban {
  align-items: normal;
  background: url("./images/emile-perron-xrVDYZRGdw4-unsplash.jpg") center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  color: white;
}

.ban_content {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ban_content h2 {
  font-family: "Raleway", serif;
  font-weight: 300;
  font-size: 30px;
  margin: 0;
}
.ban_content h3 {
  font-family: "Raleway", serif;
  font-weight: normal;
  font-size: 55px;
  margin: 0;
}
.ban_content p {
  font-family: "Raleway", serif;
  font-size: 20px;
  margin: 0;
  color: rgba(255, 255, 255, 0.856);
}


/* A propos */
#about-me {
  position: relative;
  height: max-content;
  width: 100%;
  background-color: #f5f5f5;
}


#about-me p {
  width: 70%;
  font-size: 18px;
  text-align: center;
  z-index: 2;
}

#about-me svg {
  fill: grey;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
}


/*Projets*/

.title-container {
  font-size: 25px;
  font-family: "Raleway", serif;
  position: relative;
  color: rgb(42, 42, 42);
}

span {
  color: green;
}

.projects_cards {
  box-sizing: border-box;
  width: 100%;
  padding: 0 50px;
  gap: 80px;
  display: grid;
  align-items: baseline;
  grid-template-columns: 1fr 1fr 1fr;
}

.projects_card {
  position: relative;
  display: flex;
  flex-direction: column;
}

.card_container {
  position: static;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}
.card_container:hover {
  transform: scale(1.05);
}

.overlay_img {
  width: 100%;
}

.projects_card img {
  width:100%;
}
.projects_card .card-img {
  scale: 0.95;
}

.presentation_img {
  scale: 0.6;
}

.card-2 .card_img {
width: 110%;
}

.card-1 .card_img {
  width: 90%;
}

.card_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.184);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  color: white;
}
.card_overlay:hover {
  opacity: 1;
}

.project_presentation {
  max-height: 0;
  margin: 40px auto;
  opacity: 0;
  overflow: hidden;
  width: 80%;
  z-index: -2;
  transition: opacity 0.6s ease-in-out, max-height 0.7s ease-in-out;
}

.project_presentation.active {
  opacity: 1;
}


.project_text {
  margin: 0 auto;
  height: 100%;
  width: 70%;
}

footer {
  height: 200px;
  background-color: rgba(0, 0, 0, 0.58);
}


 /* Compétences
 .competences {
  width: 100%;
  height: 400px;
  padding: 0 40px;
}

.skill-bar {
  width: 70%;
  height: 30px;
  background-color:#f5f5f5;
  border-radius: 40px;
  box-shadow: inset 0 1px 2px rgba(138, 138, 138, 0.369);
  margin-bottom: 50px;
}

.progress-bar {
  border-radius: 40px;
  height: 100%;
  width: 50%;
  background-color: rgba(47, 168, 255, 0.355);
  box-shadow: 1px 1px 1px rgba(22, 81, 123, 0.433);
} */
