@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");



:root {
  /* COLORS */
  --text: #5b5963;
  --text-2: white;
  --text-3: rgba(255, 255, 255, 0.856);
  --text-highlight: green;
  --title: rgb(34, 34, 34);
  --title-underline: rgb(168, 168, 168);
  --tag: #afaeae;
  --background-color: #f5f5f5;
  --background-color-2: rgba(0, 0, 0, 0.58);
  --overlay: rgba(0, 0, 0, 0.184);
  --box-shadow: rgb(188, 188, 188);

  /* FONT-SIZE */
  --title-size: 1.563rem;
  --text-size2: 0.875rem;
  --ban-title: 3.438rem; 
  --ban-subtitle: 1.875rem; 
  --ban-text: 1.25rem; 
  --tag-size: 0.75rem;
  --presentation-text: 0.79rem;
}


/* SETTINGS */

* {
  box-sizing: border-box;
}

body, p {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: var(--text);
}

section {
  padding: 40px 100px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2 {
  font-family: "Raleway", serif;
}


p {
  line-height: 22px;
}

.title-container {
  font-size: var(--title-size);
  position: relative;
  color: var(--title);
}

.title {
  margin-top: 25px;
  width: 400px;
  text-align: center;
}

.title::after {
  content: "";
  display: block;
  width: 20%;
  margin: 50px auto 10px;
  border-bottom: 1px solid var(--title-underline);
}

span {
  color: var(--text-highlight);
}

/* HEADER */
.header {
  position: absolute;
  color: var(--text-2);
  width: 100%;
  height: 70px;
}

.header_overlay {
  background-color: var(--overlay);
  height: 100%;
}

.header_content {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
  height: 45px;
  fill: var(--text-2);
  margin-left : 50px;
}

.header_nav {
  margin-right: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header_nav a {
  text-decoration: none;
  color: var(--text-3);
  margin-right: 50px;
  transition: 0.3s;
}

.header_nav a:hover {
  color: var(--text-2);
  transform: scale(1.05);
}


/*BANNIERE*/

#ban {
  align-items: normal;
  background: url("./images/img_ban.webp") center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  color: var(--text-2);
}

.ban_content {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ban_content h1 {
  font-family: "Raleway", serif;
  font-weight: normal;
  margin: 0;
}

.ban_title {
  font-size: var( --ban-title);
}

.ban_subtitle {
  font-size: var(--ban-subtitle);
}

.ban_text {
  font-family: "Raleway", serif;
  font-size: var(--ban-text);
  margin: 0;
  color: var(--text-3);
}


/* ABOUT ME */

#about-me {
  width: 100%;
  background-color: var(--background-color);
}

#about-me p {
  height: fit-content;
  padding: 20px;
  text-align: center;
  width: 75%;
}


 /* COMPETENCES */

#competences {
  padding: 40px 60px;
}
.competences_content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.competences_text {
  height: fit-content;
  width: 30%;
  padding: 60px 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px var(--box-shadow);
}


/*PROJETS*/

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects_cards {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  gap: 80px;
  display: grid;
  align-items: baseline;
  grid-template-columns: 1fr 1fr 1fr;
}

.projects_card {
  position: relative;
  display: flex;
  flex-direction: column;
}

.card_img, .presentation_img {
  width:100%;
}

.card_container {
  transition: all 0.5s ease;
}

.card_container:hover {
  transform: scale(1.05);
}

.card_img {
  scale: 0.95;
}

.card-2 .card_img {
  width: 120%;
}

.card-1 .card_img {
  width: 95%;
}

.project_presentation {
  display: flex;
  flex-direction: column;
  box-sizing: initial;
  max-height: 0;
  width: 70%;
  margin: 40px auto;
  padding: 20px;
  opacity: 0;
  border-radius: 10px;
  box-shadow: 0 2px 4px var(--box-shadow);
  overflow: hidden;
  transition: opacity 0.6s ease-in-out, max-height 0.7s ease-in-out;
  font-size: var(--text-size2);
}

.project_presentation.active {
  opacity: 1;
}

.presentation_img {
  scale: 0.5;
  margin-bottom: 5px;
}

.card-2 .presentation_img {
  scale: 0.7;
}

.presentation_text {
  font-size: var(--presentation-text);
}

.container {
  margin: 20px 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.tags_container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 7px;
}

.tag {
  width: fit-content;
  padding: 5px;
  background-color: var(--tag);
  color: var(--text-2);
  border-radius: 3px;
  font-size: var(--tag-size);
}


/* LIEN */

.link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  transition: scale 0.4s ease;
}

.link:hover {
  scale: 1.02;
}

.icon {
  height: 50px;
  fill: rgba(138, 138, 138, 0.369);
  padding: 10px;
  border-radius: 50%;
}

.img_logo {
  height: 30px;
  margin: 3px;
}


/* FOOTER */

footer {
  height: 100px;
  background-color: var(--background-color-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p {
  color: var(--text-2);
}

@media (min-width: 768px) and (max-width: 1023.99px) {
   p {
    font-size: 0.875rem;
   }
  section {
    padding: 20px 0 50px ;
  }

  .title {
    font-size: 32px;
  }

  .header_content {
    font-size: 14px;
  }
  .header_logo {
    height: 30px;
  }

  #ban {
    height: 600px;
  } 
  
  .ban_content h1 {
    font-size: 50px;
  }

  .ban_content h1:first-child {
    font-size: 25px;
  }

  .ban_content p {
    font-size: 1rem;
  }

  .projects_cards {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .projects_card {
    width: 50%;
  }

  .project_presentation {
    width: 50%;
  }
  
  .project_presentation p {
    font-size: 0.825rem;
  }
}

@media (min-width: 320px) and (max-width: 767.99px) {

  .header_nav {
  display: none;
  }
  p {
    font-size: 0.8rem;
  }

  section {
    padding: 20px 0 50px ;
  }

  .title {
    font-size: 27px;
  }

  .header_content {
    font-size: 12px;
  }
  .header_logo {
    height: 25px;
  }

  #ban {
    height: 500px;
  } 
  
  .ban_content h1 {
    font-size: 35px;
  }
  .ban_content p {
    font-size: 1rem;
  }

  .ban_content h1:first-child {
    font-size: 18px;
  }

  #competences img {
    width: 60%;
  }

  .projects_cards {
    margin-top: 50px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .projects_card {
    width: 60%;
  }

  .project_presentation {
    margin: 20px auto;
    gap: 10px;
  }
  
  .card_img, .presentation_img {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  
  .project_presentation {
    width: 60%;
  }

  .container {
    margin-top: 10px;
  }
}

@media (min-width: 320px) and (max-width: 659.99px) {
  #competences {
    padding: 15px 25px;
  }

  #competences img {
    width: 65%;
  }

  .competences_content {
    flex-direction: column-reverse;
  }

  .competences_text {
    width: 100%;
    padding: 30px 20px;
    box-shadow: none;
  }

  .presentation_text {
    font-size: 0.7rem;
  }

  .tag {
    font-size: 0.6rem;
  }

}